In [25]:
import pandas as pd

In [26]:
import numpy as np

In [88]:
matches = pd.read_csv(r"C:\Users\LAPTOP\Desktop\Ayush_Project\matches.csv")

In [89]:
matches

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,11347,2019,Mumbai,05/05/19,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,9,HH Pandya,Wankhede Stadium,Nanda Kishore,O Nandan,S Ravi
752,11412,2019,Chennai,07/05/19,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,0,Mumbai Indians,0,6,AS Yadav,M. A. Chidambaram Stadium,Nigel Llong,Nitin Menon,Ian Gould
753,11413,2019,Visakhapatnam,08/05/19,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,2,RR Pant,ACA-VDCA Stadium,NaN,NaN,NaN
754,11414,2019,Visakhapatnam,10/05/19,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,6,F du Plessis,ACA-VDCA Stadium,Sundaram Ravi,Bruce Oxenford,Chettithody Shamshuddin
755,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong

In [90]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               756 non-null    int64
 1   season           756 non-null    int64
 2   city             749 non-null    object
 3   date             756 non-null    object
 4   team1            756 non-null    object
 5   team2            756 non-null    object
 6   toss_winner      756 non-null    object
 7   toss_decision    756 non-null    object
 8   result           756 non-null    object
 9   dl_applied       756 non-null    int64
 10  winner           752 non-null    object
 11  win_by_runs      756 non-null    int64
 12  win_by_wickets   756 non-null    int64
 13  player_of_match  752 non-null    object
 14  venue            756 non-null    object
 15  umpire1          754 non-null    object
 16  umpire2          754 non-null    object
 17  umpire3          119 non-null    object
dtypes: int64(5), object(13)
memory usage: 106.4+ KB

In [91]:
matches['winner'].value_counts()

Mumbai Indians                 109
Chennai Super Kings            100
Kolkata Knight Riders           92
Royal Challengers Bangalore     84
Kings XI Punjab                 82
Rajasthan Royals                75
Delhi Daredevils                67
Sunrisers Hyderabad             58
Deccan Chargers                 29
Gujarat Lions                   13
Pune Warriors                   12
Delhi Capitals                  10
Rising Pune Supergiant          10
Kochi Tuskers Kerala             6
Rising Pune Supergiants          5
Name: winner, dtype: int64

Dropping rows where match result is unknown since it is a draw

In [92]:
matches.dropna(subset = ['winner']).info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 752 entries, 0 to 755
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               752 non-null    int64
 1   season           752 non-null    int64
 2   city             745 non-null    object
 3   date             752 non-null    object
 4   team1            752 non-null    object
 5   team2            752 non-null    object
 6   toss_winner      752 non-null    object
 7   toss_decision    752 non-null    object
 8   result           752 non-null    object
 9   dl_applied       752 non-null    int64
 10  winner           752 non-null    object
 11  win_by_runs      752 non-null    int64
 12  win_by_wickets   752 non-null    int64
 13  player_of_match  752 non-null    object
 14  venue            752 non-null    object
 15  umpire1          750 non-null    object
 16  umpire2          750 non-null    object
 17  umpire3          118 non-null    object
dtypes: int64(5), object(13)
memory usage: 111.6+ KB

Changing name of teams
1) Pune Warriors -> Rising Pune Supergiants (RPS)
2) Delhi Capitals -> Delhi Daredevils (DD)

In [93]:
matches.replace(['Mumbai Indians','Kolkata Knight Riders','Royal Challengers Bangalore','Deccan Chargers','Chennai Super Kings','Rajasthan Royals','Delhi Daredevils','Gujarat Lions','Kings XI Punjab','Sunrisers Hyderabad','Rising Pune Supergiants','Rising Pune Supergiant','Kochi Tuskers Kerala','Pune Warriors','Delhi Capitals'],['MI','KKR','RCB','DC','CSK','RR','DD','GL','KXIP','SRH','RPS','RPS','KTK','RPS','DD'],inplace=True)

In [94]:
matches

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,SRH,RCB,RCB,field,normal,0,SRH,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,MI,RPS,RPS,field,normal,0,RPS,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,GL,KKR,KKR,field,normal,0,KKR,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,RPS,KXIP,KXIP,field,normal,0,KXIP,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,RCB,DD,RCB,bat,normal,0,RCB,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,11347,2019,Mumbai,05/05/19,KKR,MI,MI,field,normal,0,MI,0,9,HH Pandya,Wankhede Stadium,Nanda Kishore,O Nandan,S Ravi
752,11412,2019,Chennai,07/05/19,CSK,MI,CSK,bat,normal,0,MI,0,6,AS Yadav,M. A. Chidambaram Stadium,Nigel Llong,Nitin Menon,Ian Gould
753,11413,2019,Visakhapatnam,08/05/19,SRH,DD,DD,field,normal,0,DD,0,2,RR Pant,ACA-VDCA Stadium,NaN,NaN,NaN
754,11414,2019,Visakhapatnam,10/05/19,DD,CSK,CSK,field,normal,0,CSK,0,6,F du Plessis,ACA-VDCA Stadium,Sundaram Ravi,Bruce Oxenford,Chettithody Shamshuddin
755,11415,2019,Hyderabad,12/05/19,MI,CSK,MI,bat,normal,0,MI,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong

In [95]:
matches.loc[matches["city"] == "Nagpur"]

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
209,210,2010,Nagpur,2010-04-05,RR,DC,RR,bat,normal,0,RR,2,0,SK Warne,"Vidarbha Cricket Association Stadium, Jamtha",HDPK Dharmasena,SJA Taufel,NaN
215,216,2010,Nagpur,2010-04-10,CSK,DC,CSK,bat,normal,0,DC,0,6,RJ Harris,"Vidarbha Cricket Association Stadium, Jamtha",HDPK Dharmasena,SJA Taufel,NaN
219,220,2010,Nagpur,2010-04-12,DC,RCB,RCB,field,normal,0,DC,13,0,Harmeet Singh,"Vidarbha Cricket Association Stadium, Jamtha",RE Koertzen,RB Tiffin,NaN

encoding team names

In [96]:
encode = {'team1': {'MI':1,'KKR':2,'RCB':3,'DC':4,'CSK':5,'RR':6,'DD':7,'GL':8,'KXIP':9,'SRH':10,'RPS':11,'KTK':12},
          'team2': {'MI':1,'KKR':2,'RCB':3,'DC':4,'CSK':5,'RR':6,'DD':7,'GL':8,'KXIP':9,'SRH':10,'RPS':11,'KTK':12},
          'toss_winner': {'MI':1,'KKR':2,'RCB':3,'DC':4,'CSK':5,'RR':6,'DD':7,'GL':8,'KXIP':9,'SRH':10,'RPS':11,'KTK':12},
          'winner': {'MI':1,'KKR':2,'RCB':3,'DC':4,'CSK':5,'RR':6,'DD':7,'GL':8,'KXIP':9,'SRH':10,'RPS':11,'KTK':12,'PW':13},
          'toss_decision':{'bat':0,'field':1}}

In [97]:
matches.replace(encode,inplace=True)

In [98]:
matches

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,10,3,3,1,normal,0,10.0,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,1,11,11,1,normal,0,11.0,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,8,2,2,1,normal,0,2.0,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,11,9,9,1,normal,0,9.0,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,3,7,3,0,normal,0,3.0,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,11347,2019,Mumbai,05/05/19,2,1,1,1,normal,0,1.0,0,9,HH Pandya,Wankhede Stadium,Nanda Kishore,O Nandan,S Ravi
752,11412,2019,Chennai,07/05/19,5,1,5,0,normal,0,1.0,0,6,AS Yadav,M. A. Chidambaram Stadium,Nigel Llong,Nitin Menon,Ian Gould
753,11413,2019,Visakhapatnam,08/05/19,10,7,7,1,normal,0,7.0,0,2,RR Pant,ACA-VDCA Stadium,NaN,NaN,NaN
754,11414,2019,Visakhapatnam,10/05/19,7,5,5,1,normal,0,5.0,0,6,F du Plessis,ACA-VDCA Stadium,Sundaram Ravi,Bruce Oxenford,Chettithody Shamshuddin
755,11415,2019,Hyderabad,12/05/19,1,5,1,0,normal,0,1.0,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong

Inserting Venue to Dubai for missing values

In [99]:
matches['city'].fillna('Dubai',inplace = True)

In [100]:
matches['city'].value_counts()

Mumbai            101
Kolkata            77
Delhi              74
Bangalore          66
Hyderabad          64
Chennai            57
Jaipur             47
Chandigarh         46
Pune               38
Durban             15
Bengaluru          14
Visakhapatnam      13
Ahmedabad          12
Centurion          12
Mohali             10
Rajkot             10
Dharamsala          9
Indore              9
Johannesburg        8
Abu Dhabi           7
Cuttack             7
Cape Town           7
Port Elizabeth      7
Ranchi              7
Dubai               7
Raipur              6
Sharjah             6
Kochi               5
Kanpur              4
Kimberley           3
East London         3
Nagpur              3
Bloemfontein        2
Name: city, dtype: int64

In [101]:
for i in range(len(matches)):
    if (matches['team1'][i]== 1 or matches['team2'][i]== 1) and (matches['city'][i]=='Mumbai'):
        matches['city'][i] = 1
    elif (matches['team1'][i]== 2 or matches['team2'][i]== 2) and (matches['city'][i]=='Kolkata'):
        matches['city'][i] = 2
    elif (matches['team1'][i]== 3 or matches['team2'][i]== 3) and (matches['city'][i]=='Bangalore' or matches['city'][i]=='Bengaluru'):
        matches['city'][i] = 3
    elif (matches['team1'][i]== 4 or matches['team2'][i]== 4) and (matches['city'][i]=='Hyderabad' or matches['city'][i]=='Visakhapatnam' or matches['city'][i]=='Cuttack' or matches['city'][i]=='Nagpur'):
        matches['city'][i] = 4
    elif (matches['team1'][i]== 5 or matches['team2'][i]== 5) and (matches['city'][i]=='Chennai' or matches['city'][i]=='Ranchi'):
        matches['city'][i] = 5
    elif (matches['team1'][i]== 6 or matches['team2'][i]== 6) and (matches['city'][i]=='Jaipur' or matches['city'][i]=='Ahmedabad'):
        matches['city'][i] = 6
    elif (matches['team1'][i]== 7 or matches['team2'][i]== 7) and (matches['city'][i]=='Delhi' or matches['city'][i]=='Raipur'):
        matches['city'][i] = 7
    elif (matches['team1'][i]== 8 or matches['team2'][i]== 8) and (matches['city'][i]=='Rajkot' or matches['city'][i]=='Kanpur'):
        matches['city'][i] = 8
    elif (matches['team1'][i]== 9 or matches['team2'][i]== 9) and (matches['city'][i]=='Chandigarh' or matches['city'][i]=='Mohali' or matches['city'][i]=='Dharamsala' or matches['city'][i]=='Indore'):
        matches['city'][i] = 9
    elif (matches['team1'][i]== 10 or matches['team2'][i]== 10) and (matches['city'][i]=='Hyderabad' or matches['city'][i]=='Visakhapatnam'):
        matches['city'][i] = 10
    elif (matches['team1'][i]== 11 or matches['team2'][i]== 11) and (matches['city'][i]=='Pune' or matches['city'][i]=='Mumbai'):
        matches['city'][i] = 11
    elif (matches['team1'][i]== 12 or matches['team2'][i]== 12) and (matches['city'][i]=='Kochi'):
        matches['city'][i] = 12
    else:
        matches['city'][i] = 0

C:\Users\LAPTOP\anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\LAPTOP\anaconda3\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\LAPTOP\anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\LAPTOP\anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\LAPTOP\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\LAPTOP\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\LAPTOP\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\LAPTOP\anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\LAPTOP\anaconda3\lib\site-packages\ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\LAPTOP\anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\LAPTOP\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\LAPTOP\anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\LAPTOP\anaconda3\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [102]:
matches

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,10,2017-04-05,10,3,3,1,normal,0,10.0,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,11,2017-04-06,1,11,11,1,normal,0,11.0,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,8,2017-04-07,8,2,2,1,normal,0,2.0,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,9,2017-04-08,11,9,9,1,normal,0,9.0,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,3,2017-04-08,3,7,3,0,normal,0,3.0,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,11347,2019,1,05/05/19,2,1,1,1,normal,0,1.0,0,9,HH Pandya,Wankhede Stadium,Nanda Kishore,O Nandan,S Ravi
752,11412,2019,5,07/05/19,5,1,5,0,normal,0,1.0,0,6,AS Yadav,M. A. Chidambaram Stadium,Nigel Llong,Nitin Menon,Ian Gould
753,11413,2019,10,08/05/19,10,7,7,1,normal,0,7.0,0,2,RR Pant,ACA-VDCA Stadium,NaN,NaN,NaN
754,11414,2019,0,10/05/19,7,5,5,1,normal,0,5.0,0,6,F du Plessis,ACA-VDCA Stadium,Sundaram Ravi,Bruce Oxenford,Chettithody Shamshuddin
755,11415,2019,0,12/05/19,1,5,1,0,normal,0,1.0,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong

In [103]:
matches = matches.drop(['dl_applied','umpire1','umpire2','umpire3','result','player_of_match','venue'],axis=1)

In [104]:
matches

,id,season,city,date,team1,team2,toss_winner,toss_decision,winner,win_by_runs,win_by_wickets
0,1,2017,10,2017-04-05,10,3,3,1,10.0,35,0
1,2,2017,11,2017-04-06,1,11,11,1,11.0,0,7
2,3,2017,8,2017-04-07,8,2,2,1,2.0,0,10
3,4,2017,9,2017-04-08,11,9,9,1,9.0,0,6
4,5,2017,3,2017-04-08,3,7,3,0,3.0,15,0
...,...,...,...,...,...,...,...,...,...,...,...
751,11347,2019,1,05/05/19,2,1,1,1,1.0,0,9
752,11412,2019,5,07/05/19,5,1,5,0,1.0,0,6
753,11413,2019,10,08/05/19,10,7,7,1,7.0,0,2
754,11414,2019,0,10/05/19,7,5,5,1,5.0,0,6
755,11415,2019,0,12/05/19,1,5,1,0,1.0,1,0

In [105]:
matches['city'][1] == matches['team1'][1]

False

In [106]:
for i in range(len(matches)):
    if (matches['city'][i]==matches['team1'][i]):
        matches['city'][i] = 'team1'
    elif (matches['city'][i]==matches['team2'][i]):
        matches['city'][i] = 'team2'
    else:
        matches['city'][i] = 'neutral'

C:\Users\LAPTOP\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\LAPTOP\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\LAPTOP\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [107]:
matches

,id,season,city,date,team1,team2,toss_winner,toss_decision,winner,win_by_runs,win_by_wickets
0,1,2017,team1,2017-04-05,10,3,3,1,10.0,35,0
1,2,2017,team2,2017-04-06,1,11,11,1,11.0,0,7
2,3,2017,team1,2017-04-07,8,2,2,1,2.0,0,10
3,4,2017,team2,2017-04-08,11,9,9,1,9.0,0,6
4,5,2017,team1,2017-04-08,3,7,3,0,3.0,15,0
...,...,...,...,...,...,...,...,...,...,...,...
751,11347,2019,team2,05/05/19,2,1,1,1,1.0,0,9
752,11412,2019,team1,07/05/19,5,1,5,0,1.0,0,6
753,11413,2019,team1,08/05/19,10,7,7,1,7.0,0,2
754,11414,2019,neutral,10/05/19,7,5,5,1,5.0,0,6
755,11415,2019,neutral,12/05/19,1,5,1,0,1.0,1,0

In [108]:
matches['city'].value_counts()

team1      347
team2      283
neutral    126
Name: city, dtype: int64

In [109]:
deliveries = pd.read_csv(r"C:\Users\LAPTOP\Desktop\Ayush_Project\deliveries.csv")

In [110]:
deliveries

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179073,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179074,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
179076,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179077,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

In [111]:
del1 = deliveries.groupby(['match_id','batting_team'])['total_runs'].sum().reset_index()

In [112]:
del1

      match_id                 batting_team  total_runs
0            1  Royal Challengers Bangalore         172
1            1          Sunrisers Hyderabad         207
2            2               Mumbai Indians         184
3            2       Rising Pune Supergiant         187
4            3                Gujarat Lions         183
...        ...                          ...         ...
1505     11413          Sunrisers Hyderabad         171
1506     11414          Chennai Super Kings         162
1507     11414               Delhi Capitals         155
1508     11415          Chennai Super Kings         157
1509     11415               Mumbai Indians         152

[1510 rows x 3 columns]

In [113]:
del1= del1.pivot(index='match_id',columns='batting_team',values='total_runs').reset_index().fillna(0)

In [114]:
del1

batting_team,match_id,Chennai Super Kings,Deccan Chargers,Delhi Capitals,Delhi Daredevils,Gujarat Lions,Kings XI Punjab,Kochi Tuskers Kerala,Kolkata Knight Riders,Mumbai Indians,Pune Warriors,Rajasthan Royals,Rising Pune Supergiant,Rising Pune Supergiants,Royal Challengers Bangalore,Sunrisers Hyderabad
0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,172.0,207.0
1,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,184.0,0.0,0.0,187.0,0.0,0.0,0.0
2,3,0.0,0.0,0.0,0.0,183.0,0.0,0.0,184.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,0.0,0.0,0.0,0.0,0.0,164.0,0.0,0.0,0.0,0.0,0.0,163.0,0.0,0.0,0.0
4,5,0.0,0.0,0.0,142.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,157.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,11347,0.0,0.0,0.0,0.0,0.0,0.0,0.0,143.0,137.0,0.0,0.0,0.0,0.0,0.0,0.0
752,11412,136.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,140.0,0.0,0.0,0.0,0.0,0.0,0.0
753,11413,0.0,0.0,170.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,171.0
754,11414,162.0,0.0,155.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
755,11415,157.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,152.0,0.0,0.0,0.0,0.0,0.0,0.0

In [115]:
data_final = matches.merge(del1,how ='left', left_on='id', right_on = 'match_id').drop(columns=['match_id','season','id'])

In [116]:
data_final

,city,date,team1,team2,toss_winner,toss_decision,winner,win_by_runs,win_by_wickets,Chennai Super Kings,...,Kings XI Punjab,Kochi Tuskers Kerala,Kolkata Knight Riders,Mumbai Indians,Pune Warriors,Rajasthan Royals,Rising Pune Supergiant,Rising Pune Supergiants,Royal Challengers Bangalore,Sunrisers Hyderabad
0,team1,2017-04-05,10,3,3,1,10.0,35,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,172.0,207.0
1,team2,2017-04-06,1,11,11,1,11.0,0,7,0.0,...,0.0,0.0,0.0,184.0,0.0,0.0,187.0,0.0,0.0,0.0
2,team1,2017-04-07,8,2,2,1,2.0,0,10,0.0,...,0.0,0.0,184.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,team2,2017-04-08,11,9,9,1,9.0,0,6,0.0,...,164.0,0.0,0.0,0.0,0.0,0.0,163.0,0.0,0.0,0.0
4,team1,2017-04-08,3,7,3,0,3.0,15,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,157.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,team2,05/05/19,2,1,1,1,1.0,0,9,0.0,...,0.0,0.0,143.0,137.0,0.0,0.0,0.0,0.0,0.0,0.0
752,team1,07/05/19,5,1,5,0,1.0,0,6,136.0,...,0.0,0.0,0.0,140.0,0.0,0.0,0.0,0.0,0.0,0.0
753,team1,08/05/19,10,7,7,1,7.0,0,2,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,171.0
754,neutral,10/05/19,7,5,5,1,5.0,0,6,162.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
755,neutral,12/05/19,1,5,1,0,1.0,1,0,157.0,...,0.0,0.0,0.0,152.0,0.0,0.0,0.0,0.0,0.0,0.0

In [117]:
data_final['result'] = np.where(data_final['team1']==data_final['winner'],'team1','team2')
data_final.drop('winner',axis =1 , inplace=True)

In [118]:
data_final

,city,date,team1,team2,toss_winner,toss_decision,win_by_runs,win_by_wickets,Chennai Super Kings,Deccan Chargers,...,Kochi Tuskers Kerala,Kolkata Knight Riders,Mumbai Indians,Pune Warriors,Rajasthan Royals,Rising Pune Supergiant,Rising Pune Supergiants,Royal Challengers Bangalore,Sunrisers Hyderabad,result
0,team1,2017-04-05,10,3,3,1,35,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,172.0,207.0,team1
1,team2,2017-04-06,1,11,11,1,0,7,0.0,0.0,...,0.0,0.0,184.0,0.0,0.0,187.0,0.0,0.0,0.0,team2
2,team1,2017-04-07,8,2,2,1,0,10,0.0,0.0,...,0.0,184.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,team2
3,team2,2017-04-08,11,9,9,1,0,6,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,163.0,0.0,0.0,0.0,team2
4,team1,2017-04-08,3,7,3,0,15,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,157.0,0.0,team1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,team2,05/05/19,2,1,1,1,0,9,0.0,0.0,...,0.0,143.0,137.0,0.0,0.0,0.0,0.0,0.0,0.0,team2
752,team1,07/05/19,5,1,5,0,0,6,136.0,0.0,...,0.0,0.0,140.0,0.0,0.0,0.0,0.0,0.0,0.0,team2
753,team1,08/05/19,10,7,7,1,0,2,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,171.0,team2
754,neutral,10/05/19,7,5,5,1,0,6,162.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,team2
755,neutral,12/05/19,1,5,1,0,1,0,157.0,0.0,...,0.0,0.0,152.0,0.0,0.0,0.0,0.0,0.0,0.0,team1